/* @import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&family=Readex+Pro:wght@200;300;400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.App {
  display: flex;
}

.app_right {
  flex: 1;
  padding: 0 20px;
}

.exit_wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.exit_wrapper > p {
  font-size: 15px;
  font-weight: 500;
  color: #3c3c62;
}

.exit_icon {
  color: #3c3c62;
}
